body {
    background-image: url("Linux/linux.jpeg"); 
    background-size: auto;
    background-position: center;
    background-repeat:repeat;
    font-family: Arial, helvetica, sans-serif;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.form-container {
    background: #fff;
    padding: 25px;
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 5px 20px black;
    opacity: 80%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 15px;
    transition: border 0.2s, box-shadow 0.2s;
}

input:focus {
    border-color: #2a58ff;
    box-shadow: 0 0 5px rgba(76,116,255,0.4);
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #4c74ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 10px;
}

button:hover {
    background: #3b5ee0;
}


#TA{
    resize: none;
}

