*{
    margin: 0;
    padding: 0;
}
#canvas
{
    background-color:#30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
    padding: auto;
    margin-top: 5%;
    margin-bottom: 0;
    scale: 1.3;
}
h1{
    text-align: center;
    font-size:45px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-image: url("ping.png");
    background-repeat: no-repeat;
    background-size: cover;
}